<div class="four wide column">
    <a href="https://www.digital404.fr" target="_blank" style="display: inline-block; text-align: center;">
        <h4 class="ui inverted header" style="color: #808080;">
            Ce site est sponsorisé par
            <div class="sub header" style="padding: 5px 0;">Votre Consultant Logiciel</div>
        </h4>
        <img class="ui fluid image" style="max-width: 170px;" src="{{ asset('d404/logo.png') }}" alt="Sylius Plus">
    </a>
</div>
