<div class="ui center aligned inverted basic segment">
    <p>&copy; {{ 'sylius.ui.your_store'|trans }}, {{ 'sylius.ui.powered_by'|trans }} <a href="http://www.digital404.fr" target="_blank" style="color: #1abb9c;">Florentin Garnier - Digital404</a>.</p>
    <a target="_blank" href="https://www.facebook.com/digit404"><i class="big grey facebook icon"></i></a>
    <a target="_blank" href="https://twitter.com/Digital404fr"><i class="big grey twitter card icon"></i></a>
</div>
